/*
Main CSS
 */

body {
    margin: 0;
}

.search-box {
    max-width: 75%;
    margin: 30px auto;
}

.select-container {
    display: inline-block;
}

.select-container__select {
    width: 200px;
    padding: 10px 10px;
    -webkit-appearance: none;
    background-image: url("../png/down-arrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    outline: none;
}

.price-container {
    display: inline-block;
    margin-left: 5%;
}

.price-container__wrapper {
    display: inline-block;
    border: 1px solid rgb(169, 169, 169);
}

.price-container__input {
    padding: 10px 10px;
    border-style: none;
    outline: none;
}

.price-container__label {
    margin-left: 5px;
}

.price-container__span_right-offset {
    margin-right: 5px;
}

.price-container__span_left-offset {
    margin-left: 5px;
}
.price-container__to-input_left {
    margin-left: -5px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.content {
    display: flex;
    max-width: 1400px;
    margin: 30px auto;
    flex-wrap: wrap;
    /*border-color: #0a112b;*/
    /*border-style: solid;*/
}

.content__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    /*border-color: #0a112b;*/
    /*border-style: solid;*/
}

.content__img-wrapper {
    width: 350px;
    
    /*border-color: #0a112b;*/
    /*border-style: solid;*/
}

.content__description-wrapper {
    width: 350px;
    /*border-color: #0a112b;*/
    /*border-style: solid;*/
}

.content__price-wrapper {
    width: 350px;
    /*border-color: #0a112b;*/
    /*border-style: solid;*/
}

.content__img {
    max-width: 100%;
}
