/*
Main CSS
 */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/*Search area*/

.search-box {
    width: 60%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}

.select-container__ul {
    display: none;
    position: absolute;
    list-style-type: none;
    width: 200px;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(169, 169, 169);
    border-top: none;
    background-color: white;
    z-index: 1;
}

.select-container__ul li {
    cursor: pointer;
}

.select-container__ul a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #0a112b;
}

.select-container__ul li:hover {
    background-color: #7d7b80;
}

.select-container__a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(169, 169, 169);
    height: 100%;
    width: 200px;
    background-image: url("../png/down-arrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.select-container__a::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.select-container__span {
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.show {
  display: block;
}

.price-container__wrapper {
    display: inline-block;
    border: 1px solid rgb(169, 169, 169);
}

.price-container__input {
    width: 120px;
    padding: 10px 10px;
    border-style: none;
    outline: none;
}

.price-container__label {
    margin-left: 5px;
}

.price-container__to-input_left {
    margin-left: -5px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*Content area*/

.content {
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
    flex-wrap: wrap;
    /*border-color: #0a112b;*/
    /*border-style: solid;*/
}

.content__item {
    height: 500px;
    max-width: 300px;
    padding: 10px;

}

.entire-content {
    position: relative;
    height: 100%;
}

.content__item h3 {
    margin: 10px 0;
    height: 50px;
}

.content__img-wrapper {
    display: table-cell;
    vertical-align: bottom;
    height: 200px;
    max-width: 200px;
}

.content__img {
    max-width: 100%;
}

.content__price-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #0000ff;
}

/*Large item*/

.content__item_large {
    max-width: 600px;
    display: flex;
}

.content__item_large h3 {
    margin: 0;
}

/*
.content__img-wrapper_flex {
    padding: 10px;
    flex:0 0 100%;
    height: 300px;
}

.entire-content_flex {
    padding-left: 10px;
    flex: 0 0 50%;
}*/

.cut-padding {
    width: calc(100% - 10px);
}

/*Pseudo class for content item*/
/*.content__item:hover {
    background-color: rgba(0, 99, 255, 0.3);
    border: 1px solid #251cff;
    cursor: pointer;
}*/

/*Pseudo class for large item*/
.content__item_large:hover {
    background-color: rgba(255, 0, 15, 0.3);
    border: 1px solid #ff1c2a;
    cursor: pointer;
}

/*Styles for mobiles and tablets*/
@media (max-width: 500px) {
  /*body {
    background-color: yellow;
  }*/

  .header__wrapper {
      max-width: 95%;
      padding: 10px 0;
      align-items: flex-end;
  }

  .header__wrapper span, input, a {
      display: none;
  }

  .header__wrapper h1 {
    flex:10 0 auto;
  }

  .mobile-bar {
      display: block;
      border-bottom: 1px solid rgb(169, 169, 169);
  }

  .mobile-bar__wrapper {
      display: flex;
      max-width: 95%;
      margin:auto;
      padding: 10px 0;
  }

  .mobile-bar h2 {
      margin: 0 auto 0 0;
  }

  .search-box {
      display: none;
  }

  .content__item {
      max-width: 100%;
      height: auto;
  }

  .content__price-wrapper {
      position: inherit;
  }

  .content__item_large {
      flex-wrap: wrap;
  }


  #item-types {
      display: none;
  }

  #menu-bar, #search-icon, #cart-icon {
      display: inline-flex;
      flex:1 0 auto;
  }

}
