/*
Header section CSS
 */

.header {
    padding-top: 10px;
    background-color: #60a6ff;
}

.header__wrapper {
    max-width: 80%;
    margin: auto;
}

.header a {
    display:inline-block;
    padding:10px 30px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.header__wrapper a:hover {
    background-color: #0a112b;
}

.header__basket {
    display: inline-block;
    margin-left: 10%;
}

.header_basket a {
    color: white;
    cursor: pointer;
}



