/*
Header section CSS
 */

.header {
    padding-top: 10px;
    background-color: #60a6ff;
}

.header-wrapper {
    display: inline-block;
    margin-left: 10%;
}

.header a {
    display:inline-block;
    padding:10px 30px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.header-wrapper a:hover {
    background-color: #0a112b;
}

.header-basket {
    display: inline-block;
    margin-left: 30%;
}

.header-basket a {
    color: white;
    cursor: pointer;
}



